            #jogador1, #jogador2{ 
            color:rgb(10, 1, 1);font-weight: bold;
            } 
            h1{
                color:rgb(15, 15, 153);
            }
            #result{
                color:rgb(13, 83, 28);font-weight: bold;
            }
            table{
                border-style: groove;
            }
            td {
                width: 100px; 
                height: 100px;
                text-align: center;
                font-size: 24px;
                border: 4px solid purple;
            }
     